*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  display: flex;
  justify-content: flex-end;
  background-color: blueviolet;
  padding: 30px 20px;
}

.header>div{
  flex-basis: 140px;
  background-color: chartreuse;
  height: 70px;
  margin: 0 10px;
}


.header>:first-child{
  margin-right: auto;
}

.main{
  display: flex;
  justify-content: center;


}

.sidebar{
  width: 300px;
  background-color: cyan;

}

.content{
  display: flex;
  max-width: 700px;
  flex-grow: 1;
  padding: 20px;
  background-color: darkgreen;
  flex-wrap: wrap;
  justify-content: center;
}

.content>div{
  background-color: darkkhaki;
  margin: 10px;
  flex-basis: 200px;
  height: 130px;


}

.footer{

  display: flex;
  padding: 20px;
  background-color: darkslategray;
  flex-wrap: wrap;
  justify-content: center;


}

.footer>div{
  flex-basis: 45%;
  margin: 10px;
  height: 40px;
  max-width: 600px;
  background-color: deeppink;


}
